* {
  box-sizing: border-box; }

.app {
  background-color: #14AACC;
  color: #FFEA19;
  font-family: Lato;
  display: flex; }
  .app .react-layout {
    width: 100%; }
  .app .nav {
    display: flex;
    width: 60%;
    margin: 3% auto;
    justify-content: space-around; }
    .app .nav .btn {
      background-color: transparent;
      color: #FFEA19;
      margin: 0 auto;
      padding: 10px 15px;
      border-radius: 5%;
      border: 1px solid #FFEA19;
      text-decoration: none;
      text-align: center;
      vertical-align: middle;
      align-self: center;
      line-height: 1.6;
      font-size: 1.25em; }
      .app .nav .btn:hover {
        color: #FF0062;
        border-color: #FF0062; }

.header-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #0aa0c2; }
  .header-wrapper .nameplate {
    margin: 30px auto 0; }
    .header-wrapper .nameplate h1 {
      font-size: 3rem;
      font-family: 'Walter Turncoat';
      text-align: center;
      margin-bottom: 0; }
  .header-wrapper .subheader {
    text-align: center;
    font-family: 'Lato'; }

.about-box {
  width: 80%;
  margin: 0 auto; }
  .about-box h1 {
    text-decoration: underline; }
  .about-box img {
    float: right; }
  .about-box p {
    line-height: 1.4;
    font-size: 1.25em; }

.project-box {
  width: 80%;
  margin: 0 auto; }
  .project-box .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; }
  .project-box .inner-project-box {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 5%; }
    .project-box .inner-project-box h4 {
      font-size: 1.33em;
      border: 1px solid #FFEA19;
      border-radius: 4%;
      box-shadow: 0 8px 6px -6px #0096b8;
      padding: 2%; }
    .project-box .inner-project-box div {
      width: 100%; }
      .project-box .inner-project-box div img {
        width: 100%;
        box-shadow: 0 8px 6px -6px #0096b8; }

.resume-box {
  width: 80%;
  margin: 0 auto; }
  .resume-box p {
    font-size: 1.25em;
    line-height: 1.4; }
    .resume-box p .struck {
      text-decoration: line-through;
      color: #cdb800; }
    .resume-box p .correction {
      color: #e10000;
      font-family: 'Walter Turncoat';
      font-size: 1.33em; }
  .resume-box h4 {
    font-size: 1.5em; }
  .resume-box li {
    font-size: 1.25em; }

body {
  background-color: #008cae; }

@media (max-width: 600px) {
  .app .nav {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .app .nav .btn {
      width: 100%;
      margin-top: 10px;
      border-radius: 10px; }
  .app .project-box {
    width: 100%; }
    .app .project-box .inner-project-box {
      max-width: 100%; } }
